body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    margin-top: 100px;
}

input {
    padding: 5px;
}

button {
    padding: 5px 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.conversion-choice {
    margin-top: 10px;
    margin-bottom: 10px;
}
    
.conversion-choice label {
    margin-right: 15px;
}